body{
    margin: 0; 
    padding-top: 100px; 
    padding-bottom: 0; 
    text-align: center;
    background-color: black; 
}
a{text-decoration: none;}
ul{list-style-type: none;}
img{border: 0;}



/*�꽕鍮� 諛�*/
#nav_bar{
    position: fixed;
    height: 100px; 
    background-color: black; 
    width: 100%; 
    z-index: 9999; 
    top: 0; 
    left: 0;
}

#nav_bar_h1{color: cornsilk; line-height: 25px; float: left; padding: 0 0px;}

.nav_bar_wrapper{width: 1100px; margin: 0  auto;}
.nav_bar_clearfix{content: ''; display: block; clear: both;}
/*硫붾돱 �겢�옒�뒪(�쇊履� 3媛� 硫붾돱)*/
.nav_bar_menu {float:left;}
.nav_bar_menu li{float:left;}
.nav_bar_menu a{font-size: 1em; line-height: 35px; color:white; padding: 0 12px; display: block;}
/*硫붾돱 �겢�옒�뒪(濡쒓렇�씤 �쉶�썝媛��엯)*/
.nav_bar_small_menu {float:center;}
.nav_bar_small_menu li{float:right;}
.nav_bar_small_menu a{font-size: small;  line-height: 70px; color:white; padding: 0 10px; display: block;}

/*�꽌移� 諛�*/

.nav_bar_search {
    width: 100%;
    position: relative;
    display: flex;
    }
/*�꽌移� 諛� 紐명넻*/ 
.nav_bar_searchTerm {
    width: 50%;
    border: 1px solid white;
    border-right: none;
    padding: 5px 0 5px 20px;
    height: 24.5px;
    color: black;
   	margin-top: 0.6px;
   	outline:none;
  }
  /*�꽌移� 諛� �냽 �벐�씠�뒗 湲��뵪 而щ윭*/
  .nav_bar_searchTerm:focus{
    color: black;
    font-size: small;
  
  }
   
  .nav_bar_select {
  border: 1px solid white;
  
  padding: 0px 0 1px 7px;
  margin-top: 0.5px;
  margin-right: -1px;
  height: 37px;
  outline: none;
  }
  
 
  /*�꽌移� 諛� 踰꾪듉 */
 .nav_bar_searchButton {
    position: relative;
    width: 40px;
    height: 38px;
    border: 1px solid white;
    background:transparent;
    text-align: center;
    color: #fff;
    cursor: pointer;
    right: 40px;
    
    
  }
  /*Resize the wrap to see the search bar change!*/
  /*�뼇�쁿�쑝濡� �씠�룞�떆 width媛믪쓣 �궗�슜�븿. 以꾩씪�닔濡� �삤瑜몄そ)*/
  .nav_bar_wrap{
    width: 40%;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
#container{
    width: 1100px;
    margin: 20px auto;
}
#header{
    margin-bottom: 20px;
}
/* �쁽�옱 �럹�씠吏� �젙蹂� */
#header_info{
    color: cornsilk;
    font-weight: bold;
    font-size: 40pt;
}

#content1{
    margin-bottom: 20px;
    margin: 20px auto;
}
#content2{
    margin-bottom: 20px;
    margin: 20px auto;
}
#content3{
    /* border: black 1px solid; */
    margin-bottom: 20px;
    margin: 20px auto;
}

/* footer �뒪���씪 */
footer{width: 100%; height: 150px; position: relative; clear: both;}
footer ul{
    list-style-type: none;
    margin-left: 90px;
    position: absolute;
    top: 10px;
}
footer ul li{
    float: left;
    margin: 20px 70px;
}
footer ul li a{
    text-decoration: none;
    color: cornsilk;
    font-size: small;
    font-weight: bold;
}
footer ul li a:hover{
    color: coral;
}